In [ ]:
print3

In [1]:
age =25 int
heighyt =175.5 FloatingPointError
name=박정근 s
fs -student=True\n

SyntaxError: invalid syntax (2465349006.py, line 1)

In [2]:
temperature = 23.5
score=40
city="Jeonju"
is_raining = True

In [ ]:
type(temperature)
score=40
city="Jeonju"
is_raining=True

float

In [ ]:
print

In [ ]:
age=input"나일,ㄹ 입력하세요"ArithmeticError

In [4]:
name=input("이름을 입력하세요")

In [5]:
name

'박정근'

In [ ]:
age=input("나이를 입력하세요")

In [6]:
age

NameError: name 'age' is not defined

In [ ]:
# score = 80
# temperature = 22
# city = "Jeonju"
# Is_snoWing True
#
#

In [ ]:
# print(f"15 // 4 = { 15 // 4}")      # 3
# print(f';15 % 4 = {15 % 4}")        # 3
# print(f2 ** 10 = { 2 ** 10}")       # 1024
# print(f"10 > 5 and 3 > 7 = {10 > 5 and 3 > 7}")  # False
# print(f"not (5 == 5) = {not (5 == 5)}")    # False

In [ ]:
# 1. 공백 제거 + 소문자
#

In [ ]:
Score = 78
# if score >= 90
#    grade = "A"
# elif score >= 80
# grade = B
# elif score >= 70:
# print("f"{78}점은 {C} 학점입니다.")

In [2]:
dan = 5
# print(f"1,2,3,4==={5}단 5,10,15,20/")
print(f"=== {dan}단 ===")
for i in range(1, 10):
    print(f"{dan} x {i} = {dan * i}")

=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
total = 0
even_sum = 0
odd_sum = 0

for i in range(1, 101):
    total += i
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print(f"1~100 전체 합계: {total}")
print(f"1~100 짝수 합계: {even_sum}")
print(f"1~100 홀수 합계: {odd_sum}")

In [ ]:
if score >= 90:
    grade = "A"
elif score >= 80:
    gradde = "B"
elif score >= 70:
    grade = "c"
elif score >=60:
    grade = "D"
else:
    gaade = "F"
    print(f"{78}점은 {B} 학점입니다.")

In [ ]:
if number == 0:
    print(f"0}은 영(제로)입니다.")
    if number % 2 == 0: